workflow.json
{
  "name": "Container Tracking Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "sri.sunkara@silkandsnow.com"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "996661ad-0336-48f9-8895-6393ee5f5a42",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        112
      ],
      "webhookId": "gmail-trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Split Gmail attachments into separate items\n// Gmail provides attachments as binary fields: attachment_0, attachment_1, attachment_2, etc.\nconst allItems = [];\n\n// Process all input items\nfor (const inputItem of $input.all()) {\n  const binary = inputItem.binary || {};\n  const json = inputItem.json || {};\n  \n  // Find all attachment binary fields\n  const attachmentKeys = Object.keys(binary).filter(key => key.startsWith('attachment_'));\n  \n  // If no attachment_ keys found, check if binary has 'data' key (from previous processing)\n  if (attachmentKeys.length === 0 && binary.data) {\n    // Already split, pass through\n    allItems.push({\n      json: json,\n      binary: binary\n    });\n  } else {\n    // Create one item per attachment\n    for (const key of attachmentKeys) {\n      const attachmentNum = key.replace('attachment_', '');\n      const attachmentData = binary[key];\n      \n      allItems.push({\n        json: {\n          ...json,\n          attachmentKey: key,\n          attachmentIndex: parseInt(attachmentNum),\n          filename: attachmentData.fileName || attachmentData.filename || `attachment_${attachmentNum}`,\n          mimeType: attachmentData.mimeType || attachmentData.mime || 'application/octet-stream',\n          fileExtension: attachmentData.fileExtension || (attachmentData.fileName ? attachmentData.fileName.split('.').pop() : '')\n        },\n        binary: {\n          data: attachmentData\n        }\n      });\n    }\n  }\n}\n\nreturn allItems;"
      },
      "id": "d7e947d3-3e6e-40b9-ad49-70e3f8a89459",
      "name": "Split Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        112
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Classify attachment by filename\n// Process all input items\nconst allItems = [];\nconst emailData = $('Gmail Trigger').item.json;\n\nfor (const inputItem of $input.all()) {\n  const item = inputItem.json;\n  const binary = inputItem.binary || {};\n  const filename = (item.filename || item.name || '').toLowerCase();\n\n  let attachmentType = 'unknown';\n  if (filename.includes('bill') && (filename.endsWith('.pdf') || filename.includes('.pdf'))) {\n    attachmentType = 'bill';\n  } else if (filename.includes('ci') && (filename.endsWith('.xlsx') || filename.includes('.xlsx'))) {\n    attachmentType = 'commercial_invoice';\n  } else if ((filename.includes('pkl') || filename.includes('packaging')) && (filename.endsWith('.xlsx') || filename.includes('.xlsx'))) {\n    attachmentType = 'packaging_list';\n  }\n\n  allItems.push({\n    json: {\n      ...item,\n      attachmentType: attachmentType,\n      filename: item.filename,\n      emailSubject: emailData.subject || '',\n      emailDate: emailData.date || '',\n      emailFrom: emailData.from || emailData.sender || ''\n    },\n    binary: binary\n  });\n}\n\nreturn allItems;"
      },
      "id": "4cc0e13f-0569-4d2c-b923-5cc2c3cd3b19",
      "name": "Classify Attachment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        112
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Prepare attachment data for processing\n// Pass through all items as-is, ensuring binary is properly structured\nconst allItems = [];\n\nfor (const inputItem of $input.all()) {\n  allItems.push({\n    json: inputItem.json,\n    binary: inputItem.binary || {}\n  });\n}\n\nreturn allItems;"
      },
      "id": "3fb7ce72-da47-4898-8a93-c6afbc6a93bd",
      "name": "Prepare Attachment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e71a86d0-d0d7-4b5f-81cd-4f9d263f9bee",
              "leftValue": "={{ $json.attachmentType }}",
              "rightValue": "bill",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aedfb2c8-577c-4c07-9fae-d697142150fc",
      "name": "Route by Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        352,
        112
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "id": "663ddf6d-a963-44ac-89f4-2edbd5710af8",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        600,
        16
      ],
      "credentials": {
        "openRouterApi": {
          "id": "1",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        },
        "binaryPropertyName": "data"
      },
      "id": "02739f30-7e81-4def-9ed6-c02fce0740a6",
      "name": "PDF to Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        600,
        16
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare bill data for LLM extraction\n// The PDF text should already be extracted in the 'text' field\nconst item = $input.item.json;\nconst binary = $input.item.binary || {};\n\n// Get text from extracted PDF\nconst textContent = item.text || '';\n\n// Create chatInput field that LLM Chain expects\nreturn {\n  json: {\n    ...item,\n    chatInput: textContent,\n    text: textContent\n  },\n  binary: binary\n};"
      },
      "id": "31dd5f82-8fee-4cb5-931c-fb8adaccf278",
      "name": "Prepare Bill Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.text || '' }}",
        "messages": {
          "messageValues": [
            {
              "id": "system",
              "message": "You are an expert at extracting container numbers from shipping documents. Extract all container numbers from the provided text. Container numbers typically follow formats like: ABCD1234567, ABCD 123456 7, or similar patterns with 4 letters followed by numbers. Return ONLY a JSON object with a 'container_numbers' array containing all found container numbers. If no container numbers are found, return an empty array."
            },
            {
              "id": "user",
              "message": "={{ $json.chatInput || $json.text || '' }}"
            }
          ]
        },
        "options": {
          "responseFormat": {
            "type": "json_object"
          }
        }
      },
      "id": "8966b58f-ba75-43da-9367-dc137822cabb",
      "name": "Extract Container Numbers",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1000,
        16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43292e93-b682-4f78-bc3f-9ff48646e728",
              "name": "container_numbers",
              "value": "={{ JSON.parse($json.response).container_numbers }}",
              "type": "array"
            },
            {
              "id": "13bcffe0-7ce9-4933-9a23-d27bf35182f3",
              "name": "email_data",
              "value": "={{ $('Gmail Trigger').item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "06e1c5f0-4c54-44c5-88ec-5d7c2d2edfb1",
      "name": "Parse Container Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1224,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a92641d5-ff9b-4530-bb12-deeab3197ca7",
              "leftValue": "={{ $json.attachmentType }}",
              "rightValue": "packaging_list",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a8c1c6b1-c9b0-4c37-9229-c8810abe3400",
      "name": "Filter PKL Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        576,
        208
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "binaryPropertyName": "data",
        "options": {
          "sheetName": "",
          "range": "",
          "headerRow": true
        }
      },
      "id": "038c6de5-34a8-406d-8edb-9c58b3e0e495",
      "name": "Read XLSX",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 3,
      "position": [
        600,
        208
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare PKL data for LLM extraction\n// The XLSX data should be in item.data after reading\nconst item = $input.item.json;\nconst binary = $input.item.binary || {};\n\n// Get XLSX data (should be an array of rows)\nconst xlsxData = item.data || [];\n\n// Create chatInput field that LLM Chain expects\nreturn {\n  json: {\n    ...item,\n    chatInput: JSON.stringify(xlsxData),\n    data: xlsxData\n  },\n  binary: binary\n};"
      },
      "id": "3c5c071f-a536-41a1-b12d-ac5b302d9d8f",
      "name": "Prepare PKL Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || JSON.stringify($json.data) || '' }}",
        "messages": {
          "messageValues": [
            {
              "id": "system",
              "message": "You are an expert at extracting SKU codes and quantities from packaging lists. Extract all SKU codes (format like SNSFNWO5006NR2 - typically starts with letters and contains alphanumeric characters) and their corresponding expected quantities (qty expected). Return ONLY a JSON object with an 'items' array, where each item has 'sku' (string) and 'qty_expected' (number) fields. If a row doesn't have a valid SKU, skip it."
            },
            {
              "id": "user",
              "message": "=Extract SKU codes and quantities from this packaging list data: {{ $json.chatInput || JSON.stringify($json.data) || '' }}"
            }
          ]
        },
        "options": {
          "responseFormat": {
            "type": "json_object"
          }
        }
      },
      "id": "a3c12669-71ca-4ca3-9e73-f426b16420cf",
      "name": "Extract SKU & Quantities",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1000,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b30eecf-a60b-4598-b676-1fd737cf0550",
              "name": "pkl_items",
              "value": "={{ JSON.parse($json.response).items }}",
              "type": "array"
            },
            {
              "id": "7bd823c3-69ee-44c7-903a-9d1fadc7eebc",
              "name": "email_data",
              "value": "={{ $('Gmail Trigger').item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "dc611bed-986d-4b82-994a-437af1a24e7a",
      "name": "Parse PKL Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1224,
        208
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "65c77bb9-703c-4913-bebc-41bd587898cc",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1448,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3891a1b-ede8-4f66-8734-60af1c99a322",
              "name": "container_numbers",
              "value": "={{ $json[0].json.container_numbers || [] }}",
              "type": "array"
            },
            {
              "id": "9c20a9ca-bcc2-4499-ba5e-1dd4401ce01b",
              "name": "sku_items",
              "value": "={{ $json[1].json.pkl_items || [] }}",
              "type": "array"
            },
            {
              "id": "c976e0b5-7e0c-4e93-a46a-caf8ca68ffe7",
              "name": "email_subject",
              "value": "={{ $json[0].json.email_data.subject || '' }}",
              "type": "string"
            },
            {
              "id": "2558bf98-918d-42ef-9c36-f5ba76b59347",
              "name": "email_date",
              "value": "={{ $json[0].json.email_data.date || '' }}",
              "type": "string"
            },
            {
              "id": "f1b4787d-afd8-48ca-ba6e-82a45f2d9d55",
              "name": "processed_at",
              "value": "=2025-12-01T22:23:37.482610",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "530cf0e5-078f-4534-b7c5-4e5d2539c9f9",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1672,
        112
      ]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Split Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Attachments": {
      "main": [
        [
          {
            "node": "Classify Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Attachment": {
      "main": [
        [
          {
            "node": "Prepare Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Attachment": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "PDF to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter PKL Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Container Numbers",
            "type": "ai_languageModel",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract SKU & Quantities",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PDF to Text": {
      "main": [
        [
          {
            "node": "Prepare Bill Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Bill Data": {
      "main": [
        [
          {
            "node": "Extract Container Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Container Numbers": {
      "main": [
        [
          {
            "node": "Parse Container Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Container Response": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PKL Only": {
      "main": [
        [
          {
            "node": "Read XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read XLSX": {
      "main": [
        [
          {
            "node": "Prepare PKL Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PKL Data": {
      "main": [
        [
          {
            "node": "Extract SKU & Quantities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SKU & Quantities": {
      "main": [
        [
          {
            "node": "Parse PKL Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PKL Response": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-01T22:23:37.482610",
  "versionId": "ab7f13a3-b398-4851-bfdd-fd21f7a9a530"
}